:root {
  --colors-primary: #536dc4;
  --colors-primary-hover: #3b54ab;
  --colors-text: #514f4e;
  --colors-link-hover: var(--colors-primary);

  --border-color: var(--colors-primary);

  --font-family: 'BrownPro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  --header-height: 100px;
  --header-height-mobile: 80px;

  --container-width: 1155px;
  
  --stars-color: #4edcca;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--colors-text);
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color .25s;

  &:hover {
    color: var(--colors-link-hover);
  }
}

ul {
  list-style: none;
}
